<h1><%= t 'site.friends' %></h1>

<div id="friend">
<p>
 <%= t 'site.friend1' %> <br>
  <%= t 'site.friend1adress' %>
</p>
<p>
 <%= t 'site.friend2' %> <br>
  <%= t 'site.friend2adress' %>
</p>
<p>
 <%= t 'site.friend3' %> <br>
  <%= t 'site.friend3adress' %>
</p>
<p>
 <%= t 'site.friend4' %> <br>
  <%= t 'site.friend4adress' %>
</p>
  <p>
 <%= t 'site.friend5' %> <br>
  <%= t 'site.friend5adress' %>
</p>
</div>