
<h1><%= t 'site.friends' %></h1>
<div id="friend">
<p>
<table id="friendstable" cellspacing="0" cellpadding="10" class="border" align="center">

  <tr>
  <td><%= t 'site.friend1' %><br>
  <%= t 'site.friend1adress' %> </td>
</tr>
<tr>
  <td><%= t 'site.friend2' %><br>
  <%= t 'site.friend2adress' %> </td>
</tr>
<tr>
  <td><%= t 'site.friend3' %><br>
  <%= t 'site.friend3adress' %> </td>
</tr>
<tr>
  <td><%= t 'site.friend4' %><br>
  <%= t 'site.friend4adress' %> </td>
</tr>
<tr>
  <td><%= t 'site.friend5' %><br>
  <%= t 'site.friend5adress' %> </td>
</tr>

</table>
</p>
</div>