<h1><%= t 'site.about' %></h1>

<div id="about">
<p><%= t 'site.apropos1' %></p>
<p><%= t 'site.apropos2' %></p>
<p><%= t 'site.apropos3' %></p>
<p><%= t 'site.apropos4' %></p>
<p><%= t 'site.apropos5' %></p>
<p><%= t 'site.apropos6' %></p>
<p><%= t 'site.apropos7' %></p>
</div>




