<div id="produit-section-1">
  <p id="produitDetails">
  </p>


  <h1 id="produitheader"><%= t 'product.title' %></h1>

  <%= form_tag :products, :method => 'get', :onchange => "this.form.submit();" do %>
      <br/>
      <% if I18n.locale == I18n.default_locale %>
            <%= select_tag 'selected_category', options_from_collection_for_select(@categories, 'id', 'name', params[:selected_category]), :selected=> params[:selected_category], :include_blank => true, :onchange => "this.form.submit();" %>
       <% else %>
            <%= select_tag 'selected_category', options_from_collection_for_select(@categories, 'id', 'name_e', params[:selected_category]), :selected=> params[:selected_category], :include_blank => true, :onchange => "this.form.submit();" %>
       <% end %>

      <br/><br/>
      <table>
        <tr id="produitHeader">
          <th><%= sortable "name", 'product.columnName' %>  </th>
          <th><%= sortable "description", 'product.columnDescription' %></th>
          <th><%= t 'product.columnImage' %></th>
          <th><%= sortable "price", 'product.columnPrice' %></th>

          <th></th>
          <th></th>
        </tr>

        <% @products.each do |product| %>
            <tr class="<%= cycle("productEven", "productOdd") %>">
               <% if I18n.locale == I18n.default_locale %>
                <td style="vertical-align: middle;"><%= product.name %></td>
                <td style="vertical-align: middle;"><%= product.description %></td>
               <% else %>
                 <td style="vertical-align: middle;"><%= product.name_e %></td>
                 <td style="vertical-align: middle;"><%= product.description_e %></td>
              <% end %>
              <td style="vertical-align: middle;"><%= image_tag product.image_url.to_s, :size => "60x60" %></td>
              <td style="vertical-align: middle;"><%= number_with_precision(product.price, :precision => 2) %>$</td>
              <% if I18n.locale == I18n.default_locale %>
                    <td style="vertical-align: middle;"><%= link_to image_tag("/assets/afficher.png", :size => "80x35"), product %></td>
               <% else %>
                    <td style="vertical-align: middle;"><%= link_to image_tag("/assets/display.png", :size => "80x35"), product %></td>
              <% end %>
            </tr>
        <% end %>
      </table>



      <% hidden_field_tag 'locale', I18n.locale  %>
  <% end %>
</div>

