<p id="notice"><%= notice %></p>
<div>

<%= render 'layouts/paypalbutton' %>

<% if I18n.locale == I18n.default_locale %>
<p>
  <b class="showproductLabel"><%= t('product.columnName') %>:
  <%= @product.name %>       </b>
</p>

<p>
  <b class="showproductLabel"><%= t('product.columnDescription') %>:
  <%= @product.description %>      </b>
</p>
<% else %>
 <p>
  <b class="showproductLabel"><%= t('product.columnName') %>:
  <%= @product.name_e %>     </b>
</p>

<p>
  <b class="showproductLabel"><%= t('product.columnDescription') %>:
  <%= @product.description_e %> </b>
</p>
<% end %>




<p>
  <b class="showproductLabel"><%= t('product.columnImage') %>:
  <%= link_to image_tag @product.image_url, :size => "400x400"%>   </b>

</p>



<p>
  <b class="showproductLabel"><%= t('product.columnPrice') %>:
  <%= number_with_precision(@product.price, :precision => 2) %>   </b>
</p>

<%= render 'layouts/paypalbutton' %>



<% if I18n.locale == I18n.default_locale %>
  <%= link_to image_tag("/assets/retour.png", :size => "80x35"), :controller => 'products', :action => 'index', :locale => 'fr' %>
       <% else %>
  <%= link_to image_tag("/assets/return.png", :size => "80x35"), :controller => 'products', :action => 'index', :locale => 'en' %>
<% end %>


</div>
