<!DOCTYPE html>
<html>
<head>
  <title>Stellabijoux</title>
  <link href='http://fonts.googleapis.com/css?family=Jura:600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>



    </style>

</head>
<body>
<body>
<div id="outer">
  <div id="headerpanel">

    <div id="nav">
      <h1><a href="#">StellaBijoux<span class="dotcom">.com</span></a></h1>

      <ul>
        <% if I18n.locale == I18n.default_locale %>
        <li class="first active">
          <%= link_to  t('site.home'), :controller => '/homes', :locale => 'fr' %>
        </li>
        <li>
            <%= link_to  t('product.shorttitle'), :controller => '/products' ,  :locale => 'fr'  %>
        </li>
        <li>
          <%= link_to  t('site.about'), :controller => '/abouts' , :locale => 'fr' %>
        </li>
         <li>
          <%= link_to  t('site.info'), :controller => '/infos' , :locale => 'fr'%>
        </li>
         <% else %>
         <li class="first active">
          <%= link_to  t('site.home'), :controller => '/homes' , :locale => 'en'%>
        </li>
        <li>
            <%= link_to  t('product.shorttitle'), :controller => '/products' , :locale => 'en'%>
        </li>
        <li>
          <%= link_to  t('site.about'), :controller => '/abouts' , :locale => 'en'%>
        </li>
         <li>
          <%= link_to  t('site.info'), :controller => '/infos' , :locale => 'en'%>
        </li>
         <% end %>
        <li>
          <%= mail_to 'katiag@stellabijoux.com', t('site.email') %>
        </li>
        <li>
          <% if I18n.locale == I18n.default_locale %>
            <%= link_to "English", :locale => 'en' %>
          <% else %>
              <%= link_to "Français", :locale => 'fr' %>
          <% end %>
        </li>
      </li>

      </ul>
    </div>
  </div>

  <div id="main">
    <div id="content">
      <div id="mainblueborder" class="mainblueborder"></div>
      <%= yield %>
      <br class="clear"/>
    </div>
  </div>
</div>


<div style="margin: 1em 0 3em 0; text-align: center;"><!--%@##-->Designed by  <%= link_to 'onlineshopgenerator.com' , 'http://www.onlineshopgenerator.com' %></div>   <div class="fb-like" style="position: absolute;top: 0px;rigth:0px" data-href="http://www.stellabijoux.com" data-send="true" data-width="450" data-show-faces="true"></div>



</body>
</html>





