<!DOCTYPE html>
<html>
<head>
  <title>Stellabijoux</title>
  <link href='http://fonts.googleapis.com/css?family=Jura:600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<body>
<div id="outer">
  <div id="headerpanel">

    <div id="nav">
      <h1><a href="#">StellaBijoux.com</a></h1>

      <ul>
        <li class="first active">
          <%= link_to  t('site.home'), root_url %>
        </li>
        <li>
          <%= link_to  t('product.shorttitle'), '/products' %>
        </li>
        <li>
          <% if I18n.locale == I18n.default_locale %>
        <%= link_to "English", :locale=>'en' %>
          <% else %>
              <%= link_to "Français", :locale=>'fr' %>
          <% end %>
        </li>
        <li>
          <%= mail_to 'katiag@stellabijoux.com', t('site.email') %>

        </li>
      </ul>
    </div>
  </div>

  <div id="main">
    <div id="content">
      <div id="mainblueborder" class="mainblueborder"></div>
      <%= yield %>
      <br class="clear"/>
    </div>
  </div>
</div>


<div style="margin: 1em 0 3em 0; text-align: center;"><!--%@##-->Design provided by
  <a href="http://www.freewebtemplates.com/">Free Website Templates</a>.<!--##@%--></div>


</body>
</html>





